
body{
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(to right,  #78bc73 1%,#d8d8d8 6%,#d8d8d8 14%,#78bc73 18%,#d8d8d8 24%,#d8d8d8 34%,#d8d8d8 34%,#78bc73 40%,#d8d8d8 44%,#ffffff 54%,#d8d8d8 68%,#78bc73 74%,#c2c4c2 86%,#85c66b 89%,#f6f6f6 100%);*/
    /*background-color: #a882b6;*/
    background: linear-gradient(to right,#a882b6,#F0CCFD);
}

html{
    overflow-x: hidden;
}
#logo-name {
    color: orangered;
    margin: 0 5px;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.log-out-btn {
    margin-right: 20px;
}

.main-header {
    margin: 1rem 0;
}

.place-order>h1{
    font-weight: bolder;
}


.btn-view-all-orders{
    background-color: #133a75;
    margin-top: 4rem;
    font-weight: 600;
}

.search-orders{
    background-color: red;
    margin-top: 4rem;
    font-weight: 600;
}

.main-part {
    position: relative;
    top: 6rem;
}

.Card-header-colour {
    background-color: #824D96;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.Order-Details {
    margin-top: 1rem;
}

#purchase-position {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 2rem;
}

#purchase-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #f9f7ff;
}

#sub-total-label {
    color: red;
}

#total-label {
    color: blue;
}

.Order-Table-View {
    position: relative;
    top: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid darkgray;
    padding: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.table-model-style {
    margin-top: 20px;
    border: 1px solid darkgray;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.search-card-style {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    border: 1px solid darkgray;
}

#invoice-details-header{

}

.invoice-card{
    background-color: #F0CCFD;
    height: 342px;
}

#logo-name{
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    color: red;
}

#invoice-details-header{
    color: white;
}

.input-Date{
    border: 2px solid black;
}

.input-OrderId{
    border: 2px solid black;
}

.customer-address-set{
    border: 2px solid black;
}

.customer-name-set{
    border: 2px solid black;
}

.load-customer-Id{
    border: 2px solid black;
}

.select-item-card{
    background-color: #F0CCFD;
}

.set-OrderQty{
    border: 2px solid black;
}

.set-qty{
    border: 2px solid black;
}

.set-item-code{
    border: 2px solid black;
}

.set-item-name{
    border: 2px solid black;
}

.set-Item-price{
    border: 2px solid black;
}

.input-balance{
    border: 2px solid black;
}

.input-cash{
    border: 2px solid black;
}

.input-discount{
    border: 2px solid black;
}

.input-TotalPrice{
    border: 2px solid black;
}

.input-SubTotalPrice{
    border: 2px solid black;
}
.btn-purchase{
    font-weight: 600;
    border-radius: 20px;
}
.btn-add-to-cart{
    font-weight: 600;
    border-radius: 20px;
}

@media all and (max-width: 768px){

    .select-item-Form{
        margin-top: 2rem;
    }

    .invoice-cardSize{
        height: 520px;
    }
}