@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rowdies:wght@300;400;700&family=Seymour+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #262A56;
    --second-bg-color: #3C4767;
    --text-color: #FFFFFF;
    --sub-text-color: #000000;
    --hero-text-color: #00EEFF;
}

html{
    /* font-size: 62.5%;*/
    overflow-x: hidden;
}


body{
    color: var(--text-color);
    /*background-color: var(--bg-color);*/
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--bg-color);
    height: 100px;
    display: flex;
    padding: 2rem 9%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    text-shadow: 0 0 25px white;
    font-weight: bold;
    font-family: Ubuntu;
    cursor: pointer;
    transition: 0.3s ease;
    position: absolute;
    left: 30px;
    line-height: 55px;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px #FFCD1E;
    color: #FFCD1E;
}

.navbar{
    background: transparent;
    height: 80px;
    width: 100vw;
}

.navbar ul{
    float: right;
    margin-right: 25px;
    position: absolute;
    right: 0;
}

.navbar ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

.navbar ul li a{
    position: relative;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    transition: 1s;
    font-family: 'nunito',sans-serif;
}

.navbar ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #FFCD1E;
    transform: scale(0);
    transform-origin: right;
    transition: .4s linear;
}

.navbar ul li a:hover:before{
    transform: scale(1);
    transform-origin: left;
}

.menu-list #btn,
.menu-list #cancel{
    color: var(--text-color);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 1px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.navbar a:hover,
.navbar a.active{
    color: #FFCD1E;
}

#menu-icon{
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    left: 400px;
    position: relative;
    display: none;
}

.home{
    min-height: 100vh;
    background-color: var(--bg-color);
}

.home-content{
    width: 700px;
    height: 300px;
    background: yellow;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 700px;
}

.home-content h1{
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 60px;
    top: 20px;
    text-align: center;
}

.home-content p{
    font-size: 23px;
    font-weight: bold;
    font-family: Ubuntu;
    color: black;
    text-align: center;
}

.home-pic{
    width: 400px;
    height: 460px;
    border-radius: 100%;
    overflow: hidden;
    top: 140px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: transparent;
    animation: floatImage 4s ease-in-out infinite;
}


.home-pic img{
    width: 100%;
    height: auto;
    display: block;
    /*animation: floatImage 4s ease-in-out infinite;*/
}

.home-content .connect-links{
    bottom: 20px;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    justify-content: space-between;
    background-color: rebeccapurple;
}

.connect-links a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.1rem;
    height: 3.1rem;
    background: transparent;
    border: 3px solid #FFCD1E;
    border-radius: 100%;
    font-size: 2rem;
    color: #FFCD1E;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.connect-links a:hover{
    background-color:#FFCD1E;
    color: var(--bg-color);
    box-shadow: 0 0 1rem #FFCD1E;
    transform: scale(1.3) translateY(-5px);
}

.connect-links a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*

#home{
    position: relative;
}

.background-squares{
    position: relative;
    width: 450px;
    height: 450px;
    margin-top: 70px;
    margin-left: 100px;
}

.square-1{
    background: #0C1634;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 13px;
    left: 90px;
    animation: blink 2s infinite 0.1s;
}

.square-2{
    background: #3750AB;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 26px;
    left: 130px;
    animation: blink 2s infinite 0.2s;
}

.square-3{
    background: #5971CC;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 13px;
    left: 298px;
    animation: blink 2s infinite 0.3s;
}

.square-4{
    background: #324476;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 182px;
    left: 20px;
    animation: blink 2s infinite 0.4s;
}

.square-5{
    background: #0C1634;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 150px;
    left: 280px;
    animation: blink 2s infinite 0.5s;
}

.square-6{
    background: #0C1634;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 353px;
    left: 70px;
    animation: blink 2s infinite 0.6s;
}

.square-7{
    background: #3750AB;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 375px;
    left: 300px;
    animation: blink 2s infinite 0.7s;
}

#mydp{
    position: absolute;
    top: 26px;
    left: 80px;
}

#txtHi{
   font-family: 'nunito', sans-serif;
    font-size: 55px;
    color: white;

    position: absolute;
    left: 590px;
    top: 70px;

}

#txt-name{
    font-family: 'Istok Web' , sans-serif;
    font-size: 55px;
    color: #5DBBFF;

    position: absolute;
    left: 810px;
    top: 70px;

}

#txtFSD{
    margin: 0;
    color: #69C0FF;
    font-family: 'Istok Web' , sans-serif;
    font-size: 60px;
    position: absolute;
    left: 590px;
    top: 170px;

}

#txtPara{
    margin: 0;
    color: white;
    font-family: 'Istok Web' , sans-serif;
    font-size: 25px;
    position: absolute;
    left: 590px;
    top: 280px;
}

#txtPara2{
    margin: 0;
    color: white;
    font-family: 'Istok Web' , sans-serif;
    font-size: 25px;
    position: absolute;
    left: 590px;
    top: 320px;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
*/

@media all and(max-width: 320px) {

}

@media  all and (min-width: 321px) and (max-width: 360px){

}

@media  all and (min-width: 361px) and (max-width: 480px){

}


@media  all and (min-width: 481px) and (max-width: 649px){
    .home-content{
        width: 600px;
        height: 380px;
        background: yellow;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: 700px;
    }

    .home-content h1{
        color: black;
        font-family: "Josefin Sans", sans-serif;
        font-weight: bold;
        font-size: 56px;
        top: 20px;
        text-align: center;
    }

    .home-content p{
        font-size: 20px;
        font-weight: bold;
        font-family: Ubuntu;
        color: black;
        text-align: center;
    }

    .home-pic{
        width: 400px;
        height: 510px;
        border-radius: 100%;
        overflow: hidden;
        top: 140px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        background-color: transparent;
        animation: floatImage 4s ease-in-out infinite;
    }


    .home-pic img{
        width: 100%;
        height: auto;
        display: block;
        /*animation: floatImage 4s ease-in-out infinite;*/
    }

    .connect-links a{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        background: transparent;
        border: 3px solid #FFCD1E;
        border-radius: 100%;
        font-size: 1.8rem;
        color: #FFCD1E;
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease;
    }
}

@media all and (min-width: 650px) and (max-width: 768px){
    .navbar ul li a{
        color: white;
        font-size: 17px;
    }

    .menu-list #btn{
        display: block;
    }

    .navbar ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--bg-color);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar ul li a{
        font-size: 18px;
    }

    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ .menu-list #btn{
        display: none;
    }

    #check:checked ~ .menu-list #cancel{
        display: block;
    }

    .home-content{
        width: 600px;
        height: 380px;
        background: yellow;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: 700px;
    }

    .home-content h1{
        color: black;
        font-family: "Josefin Sans", sans-serif;
        font-weight: bold;
        font-size: 56px;
        top: 20px;
        text-align: center;
    }

    .home-content p{
        font-size: 20px;
        font-weight: bold;
        font-family: Ubuntu;
        color: black;
        text-align: center;
    }

    .home-pic{
        width: 400px;
        height: 510px;
        border-radius: 100%;
        overflow: hidden;
        top: 140px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        background-color: transparent;
        animation: floatImage 4s ease-in-out infinite;
    }


    .home-pic img{
        width: 100%;
        height: auto;
        display: block;
        /*animation: floatImage 4s ease-in-out infinite;*/
    }

    .connect-links a{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        background: transparent;
        border: 3px solid #FFCD1E;
        border-radius: 100%;
        font-size: 1.8rem;
        color: #FFCD1E;
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease;
    }

}

@media  all and (min-width: 769px) and (max-width: 884px){
    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: var(--bg-color);
        height: 100px;
        display: flex;
        padding: 2rem 9%;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }


    .logo{
        font-size: 1.2rem;
        color: var(--text-color);
        text-shadow: 0 0 25px white;
        font-weight: bold;
        font-family: Ubuntu;
        cursor: pointer;
        transition: 0.3s ease;
        position: absolute;
        left: 5px;
        top: 17px;
        line-height: 50px;
    }

    .logo:hover{
        transform: scale(1.1);
    }

    .logo span{
        text-shadow: 0 0 25px #FFCD1E;
        color: #FFCD1E;
    }

    .navbar{
        background: transparent;
        height: 80px;
        width: 100vw;
    }

    .navbar ul{
        float: right;
        margin-right: 1px;
        position: absolute;
        right: 0;
    }

    .navbar ul li{
        display: inline-block;
        line-height: 70px;
        margin: 0 1px;
    }

    .navbar ul li a{
        position: relative;
        font-size: 12px;
        color: var(--text-color);
        font-weight: 700;
        text-transform: uppercase;
        padding: 1px;
        transition: 1s;
        font-family: 'nunito',sans-serif;
    }
}


@media  all and (min-width: 885px) and (max-width: 1040px){
    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: var(--bg-color);
        height: 100px;
        display: flex;
        padding: 2rem 9%;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }


    .logo{
        font-size: 1.2rem;
        color: var(--text-color);
        text-shadow: 0 0 25px white;
        font-weight: bold;
        font-family: Ubuntu;
        cursor: pointer;
        transition: 0.3s ease;
        position: absolute;
        left: 5px;
        top: 17px;
        line-height: 50px;
    }

    .logo:hover{
        transform: scale(1.1);
    }

    .logo span{
        text-shadow: 0 0 25px #FFCD1E;
        color: #FFCD1E;
    }

    .navbar{
        background: transparent;
        height: 80px;
        width: 100vw;
    }

    .navbar ul{
        float: right;
        margin-right: 1px;
        position: absolute;
        right: 0;
    }

    .navbar ul li{
        display: inline-block;
        line-height: 70px;
        margin: 0 1px;
    }

    .navbar ul li a{
        position: relative;
        font-size: 14px;
        color: var(--text-color);
        font-weight: 700;
        text-transform: uppercase;
        padding: 3px;
        transition: 1s;
        font-family: 'nunito',sans-serif;
    }
}

@media  all and (min-width: 1041px) and (max-width: 1300px){
    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: var(--bg-color);
        height: 100px;
        display: flex;
        padding: 2rem 9%;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }


    .logo{
        font-size: 1.5rem;
        color: var(--text-color);
        text-shadow: 0 0 25px white;
        font-weight: bold;
        font-family: Ubuntu;
        cursor: pointer;
        transition: 0.3s ease;
        position: absolute;
        left: 5px;
        top: 17px;
        line-height: 50px;
    }

    .logo:hover{
        transform: scale(1.1);
    }

    .logo span{
        text-shadow: 0 0 25px #FFCD1E;
        color: #FFCD1E;
    }

    .navbar ul{
        float: right;
        margin-right: 1px;
        position: absolute;
        right: 0;
    }

    .navbar ul li{
        display: inline-block;
        line-height: 70px;
        margin: 0 1px;
    }

    .navbar ul li a{
        position: relative;
        font-size: 15px;
        color: var(--text-color);
        font-weight: 700;
        text-transform: uppercase;
        padding: 8px;
        transition: 1s;
        font-family: 'nunito',sans-serif;
    }
}

@media  all and (min-width: 1301px) and (max-width: 1420px){

    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: var(--bg-color);
        height: 100px;
        display: flex;
        padding: 2rem 9%;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }


    .logo{
        font-size: 2rem;
        color: var(--text-color);
        text-shadow: 0 0 25px white;
        font-weight: bold;
        font-family: Ubuntu;
        cursor: pointer;
        transition: 0.3s ease;
        position: absolute;
        left: 30px;
        top: 14px;
        line-height: 55px;
    }

    .logo:hover{
        transform: scale(1.1);
    }

    .logo span{
        text-shadow: 0 0 25px #FFCD1E;
        color: #FFCD1E;
    }

    .navbar{
        background: transparent;
        height: 80px;
        width: 100vw;
    }

    .navbar ul{
        float: right;
        margin-right: 5px;
        position: absolute;
        right: 0;
    }

    .navbar ul li{
        display: inline-block;
        line-height: 70px;
        margin: 0 5px;
    }

    .navbar ul li a{
        position: relative;
        font-size: 17px;
        color: var(--text-color);
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px;
        transition: 1s;
        font-family: 'nunito',sans-serif;
    }
}