@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #262A56;
    --second-bg-color: #3C4767;
    --text-color: #FFFFFF;
    --sub-text-color: #000000;
    --hero-text-color: #00EEFF;
}

html{
    !* font-size: 62.5%;*!
    overflow-x: hidden;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}*/

/*my projects style*/
.my-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding-bottom: 6rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    height: 100vh;
    margin-bottom: -4px;
}

#my-project-heading{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 25px;
    font-family: 'nunito',sans-serif;
}

#project-last{
    color: #00EEFF;
}

.my-project-container{
    column-gap: 100px;
    justify-content: space-between;
}

/*my-project square style*/
.project-square-01{
    width: 500px;
    height: 360px;
    position: absolute;
    background-color: #1E2245;
    top: 130px;
    left: 320px;
}

.project-square-02{
    width: 500px;
    height: 360px;
    position: absolute;
    background-color: #1E2245;
    top: 130px;
    right: 320px;
}

.project-square-03{
    width: 500px;
    height: 360px;
    position: absolute;
    background-color: #1E2245;
    bottom: 150px;
    right: 320px;
}

.project-square-04{
    width: 500px;
    height: 360px;
    position: absolute;
    background-color: #1E2245;
    bottom: 150px;
    left: 320px;
}

/*project section image style*/
.mvc-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.layered-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.chat-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.chat-project-image img{
    height: auto;
    width: 100%;
    display: block;
}

.portfolio-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.portfolio-project-image img{
    height: auto;
    width: 100%;
    display: block;
}

.project-data{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(228, 241, 254,.4);
    border-radius: .5rem;
    transition: .5s;
}

.project-link{
    font-size: 20px;
    color: darkred;
    background-color: transparent;
    border-radius: .25rem;
    padding: .25rem;
    font-family: Ubuntu;
    font-weight: bold;
}

/*project title design*/
.mvc-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.layered-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.chat-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.portfolio-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.pos-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.extra-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.mvc-project-image:hover .project-data{
    bottom: 0;
}

.layered-project-image:hover .project-data{
    bottom: 0;
}


.chat-project-image:hover .project-data{
    bottom: 0;
}

.portfolio-project-image:hover .project-data{
    bottom: 0;
}

.pos-project-image:hover .project-data{
    bottom: 0;
}

.extra-project-image:hover .project-data{
    bottom: 0;
}

/*media query*/
@media screen and (max-width: 320px){

}

@media screen and (min-width: 321px) and (max-width: 360px){

}

@media screen and (min-width: 361px) and (max-width: 445px){

}

@media screen and (min-width: 446px) and (max-width: 578px){

}

@media screen and (min-width: 579px) and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 990px){

}

@media screen and (min-width: 991px) and (max-width: 1082px){
    .project-square-01{
        width: 420px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        top: 130px;
        left: 100px;
    }

    .project-square-02{
        width: 420px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        top: 130px;
        right: 100px;
    }

    .project-square-03{
        width: 420px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        bottom: 150px;
        right: 100px;
    }

    .project-square-04{
        width: 420px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        bottom: 150px;
        left: 100px;
    }

    .mvc-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 395px;
        height: 270px;
    }

    .layered-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 395px;
        height: 270px;
    }

    .chat-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 395px;
        height: 270px;
    }


    .portfolio-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 395px;
        height: 270px;
    }

}

@media screen and (min-width: 1083px) and (max-width: 1346px){
    .project-square-01{
        width: 420px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        top: 130px;
        left: 100px;
    }

    .project-square-02{
        width: 420px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        top: 130px;
        right: 100px;
    }

    .project-square-03{
        width: 420px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        bottom: 150px;
        right: 100px;
    }

    .project-square-04{
        width: 420px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        bottom: 150px;
        left: 100px;
    }

    .mvc-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 395px;
        height: 270px;
    }

    .layered-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 395px;
        height: 270px;
    }

    .chat-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 395px;
        height: 270px;
    }


    .portfolio-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 395px;
        height: 270px;
    }
}

@media screen and (min-width: 1347px) and (max-width: 1700px){
    .project-square-01{
        width: 450px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        top: 130px;
        left: 200px;
    }

    .project-square-02{
        width: 450px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        top: 130px;
        right: 200px;
    }

    .project-square-03{
        width: 450px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        bottom: 150px;
        right: 200px;
    }

    .project-square-04{
        width: 450px;
        height: 360px;
        position: absolute;
        background-color: #1E2245;
        bottom: 150px;
        left: 200px;
    }

    .mvc-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 420px;
        height: 270px;
    }

    .layered-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 420px;
        height: 270px;
    }

    .chat-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 420px;
        height: 270px;
    }


    .portfolio-project-image{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        border-radius: .5rem;
        width: 420px;
        height: 270px;
    }

}



