/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #262A56;
    --second-bg-color: #3C4767;
    --text-color: #FFFFFF;
    --sub-text-color: #000000;
    --hero-text-color: #00EEFF;
}

html {
    overflow-x: hidden;
}

body {
    color: var(--text-color);
}

/* Skills Section Styles */
.my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
    padding-top: 150px;
    position: relative;
    min-height: 100vh;
}

#skills-heading {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 40px;
    font-family: 'Nunito', sans-serif;
}

#my-skill-last {
    color: #00EEFF;
}

.skills-paragraph {
    font-family: Ubuntu;
    font-size: 22px;
    text-align: center;
    margin-bottom: 3rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    width: 80%;

    background-color: #00EEFF;
}

.development-skills-box, .design-skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.development-skills-title, .design-skills-title {
    font-size: 22px;
    color: #FFCD1E;
    font-weight: 650;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.development-skills-box .development-skills-content,
.design-skills-box .design-skills-content {
    width: 100%;
    border: .3rem solid #FFCD1E;
    border-radius: .6rem;
    padding: .3rem 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: var(--second-bg-color);
}

.development-skills-box .development-skills-content::before,
.design-skills-box .design-skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .6s;
}

.development-skills-box .development-skills-content:hover::before,
.design-skills-box .design-skills-content:hover::before {
    width: 100%;
}

.development-skills-content:hover,
.design-skills-content:hover {
    box-shadow: 0 0 25px #FFCD1E;
}

.skills-data {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 1rem;
    position: relative;
}

.skill-name,
.skill-percentage {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
}

.skills-bar {
    position: absolute;
    bottom: -.75rem;
    height: 10px;
    border-radius: 6px;
    background-color: #FFCD1E;
}

.skill-java {
    width: 82%;
}

.skill-mysql {
    width: 92%;
}

.skill-html {
    width: 85%;
}

.skill-hql {
    width: 62%;
}

.skill-css {
    width: 75%;
}

.skill-javascript {
    width: 72%;
}

.skill-webDesign {
    width: 90%;
}

.skill-photoshop {
    width: 70%;
}

.skill-figma {
    width: 80%;
}

.skill-draw-io {
    width: 95%;
}

/* Media Queries */
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr;
    }

    .development-skills-title,
    .design-skills-title {
        text-align: center;
    }
}


/*
!*skills style*!
!* Global Styles *!
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #262A56;
    --second-bg-color: #3C4767;
    --text-color: #FFFFFF;
    --sub-text-color: #000000;
    --hero-text-color: #00EEFF;
}

html {
    overflow-x: hidden;
}

body {
    color: var(--text-color);
}

!* Skills Section Styles *!
.my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
    padding-top: 150px;
    position: relative;
    min-height: 100vh;
}

#skills-heading {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 40px;
    font-family: 'Nunito', sans-serif;
}

#my-skill-last {
    color: #00EEFF;
}

.skills-paragraph {
    font-family: Ubuntu;
    font-size: 22px;
    text-align: center;
    margin-bottom: 3rem;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 80%;
}

.development-skills, .design-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.development-skills-title, .design-skills-title {
    font-size: 22px;
    color: #FFCD1E;
    font-weight: 650;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.development-skills-box .development-skills-content,
.design-skills-box .design-skills-content {
    width: 100%;
    border: .3rem solid #FFCD1E;
    border-radius: .6rem;
    padding: .3rem 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: white;
}

.development-skills-box .development-skills-content::before,
.design-skills-box .design-skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .6s;
}

.development-skills-box .development-skills-content:hover::before,
.design-skills-box .design-skills-content:hover::before {
    width: 100%;
}

.development-skills-content:hover,
.design-skills-content:hover {
    box-shadow: 0 0 25px #FFCD1E;
}

.skills-data {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 1rem;
    position: relative;
}

.skill-name,
.skill-percentage {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
}

.skills-bar {
    position: absolute;
    bottom: -.75rem;
    height: 10px;
    border-radius: 6px;
    background-color: #FFCD1E;
}

.skill-java {
    width: 82%;
}

.skill-mysql {
    width: 92%;
}

.skill-html {
    width: 85%;
}

.skill-hql {
    width: 62%;
}

.skill-css {
    width: 75%;
}

.skill-javascript {
    width: 72%;
}

.skill-webDesign {
    width: 90%;
}

.skill-photoshop {
    width: 70%;
}

.skill-figma {
    width: 80%;
}

.skill-draw-io {
    width: 95%;
}

!* Media Queries *!
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr;
    }

    .development-skills-title,
    .design-skills-title {
        text-align: left;
    }
}

!*
.my-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    height: 100vh;
    margin-bottom: -20px;
}

#skills-heading{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 40px;
    font-family: 'nunito',sans-serif;
}

#my-skill-last{
    color: #00EEFF;
}

.skills-paragraph{
    font-family: Ubuntu;
    font-size: 22px;
    position: absolute;
    left: 180px;
    top: 130px;
}

.design-skills-box{
    row-gap: 2rem;
}

.development-skills-box .development-skills-content{
    position: absolute;
    width: 600px;
    height: auto;
    top: 240px;
    left: 180px;
    border:  .3rem solid  #FFCD1E;
    border-radius: .6rem;
    padding: .3rem 20px;
    z-index: 1;
    overflow: hidden;
}

.development-skills-box .development-skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .6s;
}

.development-skills-box .development-skills-content:hover::before{
    width: 100%;
}

.design-skills-box .design-skills-content{
    position: absolute;
    width: 600px;
    height: 620px;
    top: 240px;
    right:  180px;
    border:  .3rem solid  #FFCD1E;
    border-radius: .6rem;
    padding: .5rem 20px;
    z-index: 1;
    overflow: hidden;
}

.design-skills-box .design-skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .6s;
    box-shadow: 0 0 25px #FFCD1E;
}

.design-skills-box .design-skills-content:hover::before{
    width: 100%;
}

.design-skills-content:hover{
    box-shadow: 0 0 25px #FFCD1E;
}

.development-skills-content:hover{
    box-shadow: 0 0 25px #FFCD1E;
}


.development-skills-title{
    font-size: 22px;
    color: #FFCD1E;
    position: absolute;
    top: 200px;
    left: 180px;
    font-weight: 650;
    font-family: 'nunito',sans-serif;
}

.design-skills-title{
    font-size: 22px;
    color: #FFCD1E;
    margin-bottom: 2rem;
    position: absolute;
    top: 200px;
    right: 640px;
    font-weight: 650;
    font-family: 'nunito',sans-serif;
}

.skills-data{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 45px;
}

.skill-name{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
}

.skill-percentage{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
}

.skills-bar{
    position: absolute;
    bottom: -.75rem;
    height: 10px;
    border-radius: 6px;
    background-color: #FFCD1E;
}

.skill-java{
    width: 82%;
}

.skill-mysql{
    width: 92%;
}

.skill-html{
    width: 85%;
}

.skill-hql{
    width: 62%;
}

.skill-css{
    width: 75%;
}

.skill-webDesign{
    width: 90%;
}

.skill-photoshop{
    width: 70%;
}

.skill-figma{
    width: 80%;
}

.skill-draw-io{
    width: 95%;
}
*!

@media all and (max-width: 320px){

}

@media all and (min-width: 321px) and (max-width: 360px){
    .my-skills{
        min-height: 180vh;
    }

    #skills-heading{
        font-size: 2.4rem;
        text-align: center;
        position: absolute;
        top: 30px;
        font-family: 'nunito',sans-serif;
    }

    .development-skills-box .development-skills-content{
        position: absolute;
        width: 300px;
        top: 170px;
        right: 0;
        left: 0;
        margin: auto;
        border:  .2rem solid  #FFCD1E;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 300px;
        height: 450px;
        top: 870px;
        right: 0;
        left: 0;
        margin: auto;
        !* padding: .4rem 10px;
         z-index: 1;
         overflow: hidden;*!
    }

    .development-text .development-skills-title{
        font-family: Ubuntu;
        left: 0;
        right: 0;
        top: -80px;
        bottom: 0;
        margin: auto;
        position: absolute;
        padding:0;
        font-size: 15px;
        font-weight: 700;
    }

    .development-text{
        width: 250px;
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background: transparent;
        top: 220px;
    }

    .design-skills-title{
        text-align: center;
        top: 840px;
        width: 250px;
        height: 60px;
        position: absolute;
        font-size: 15px;
        left: -150px;
        right: 0;
        margin: auto;
        background: transparent;
        position: absolute;
        font-weight: 700;
    }

    .skills-paragraph{
        position: absolute;
        left: 40px;
        top: 90px;
        font-size: 15px;
    }
}

@media all and (min-width: 361px) and (max-width: 425px){
    .my-skills{
        min-height: 160vh;
    }

    #skills-heading{
        font-size: 3.3rem;
        text-align: center;
        position: absolute;
        top: 30px;
        font-family: 'nunito',sans-serif;
    }

    .development-skills-box .development-skills-content{
        position: absolute;
        width: 320px;
        top: 260px;
        right: 0;
        left: 0;
        margin: auto;
        border:  .3rem solid  #FFCD1E;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 320px;
        height: 480px;
        top: 1000px;
        right: 0;
        left: 0;
        margin: auto;
    }

    .development-text .development-skills-title{
        font-family: Ubuntu;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        padding:0;
        font-weight: 700;
    }

    .development-text{
        width: 250px;
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background: transparent;
        top: 220px;
    }

    .design-skills-title{
        text-align: center;
        top: 960px;
        width: 250px;
        height: 60px;
        position: absolute;
        !*left: 180px;*!
        left: 0;
        right: 0;
        margin: auto;
        background: transparent;
        position: absolute;
        font-weight: 700;
    }

    .skills-paragraph{
        position: absolute;
        left: 40px;
        top: 130px;
        font-size: 17px;
    }
}

@media all and (min-width: 561px) and (max-width: 768px){
    .my-skills{
        min-height: 160vh;
    }

    #skills-heading{
        font-size: 3.4rem;
        text-align: center;
        position: absolute;
        top: 40px;
        font-family: 'nunito',sans-serif;
    }

    .development-skills-box .development-skills-content{
        position: absolute;
        width: 500px;
        top: 260px;
        right: 0;
        left: 0;
        margin: auto;
        border:  .3rem solid  #FFCD1E;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 500px;
        height: 480px;
        top: 1000px;
        right: 0;
        left: 0;
        margin: auto;
    }

    .development-text .development-skills-title{
        font-family: Ubuntu;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        padding:0;
        font-weight: 700;
    }

    .development-text{
        width: 250px;
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background: transparent;
        top: 220px;
    }

    .design-skills-title{
        text-align: center;
        top: 960px;
        width: 250px;
        height: 60px;
        position: absolute;
        !*left: 180px;*!
        left: 0;
        right: 0;
        margin: auto;
        background: transparent;
        position: absolute;
        font-weight: 700;
    }

    .skills-paragraph{
        position: absolute;
        left: 40px;
        top: 130px;
    }
}

@media all and (min-width: 426px) and (max-width: 560px){
    .my-skills{
        min-height: 160vh;
    }

    #skills-heading{
        font-size: 3.3rem;
        text-align: center;
        position: absolute;
        top: 30px;
        font-family: 'nunito',sans-serif;
    }

    .development-skills-box .development-skills-content{
        position: absolute;
        width: 380px;
        top: 260px;
        right: 0;
        left: 0;
        margin: auto;
        border:  .3rem solid  #FFCD1E;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 380px;
        height: 480px;
        top: 1000px;
        right: 0;
        left: 0;
        margin: auto;
    }

    .development-text .development-skills-title{
        font-family: Ubuntu;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        padding:0;
        font-weight: 700;
    }

    .development-text{
        width: 250px;
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background: transparent;
        top: 220px;
    }

    .design-skills-title{
        text-align: center;
        top: 960px;
        width: 250px;
        height: 60px;
        position: absolute;
        !*left: 180px;*!
        left: 0;
        right: 0;
        margin: auto;
        background: transparent;
        position: absolute;
        font-weight: 700;
    }

    .skills-paragraph{
        position: absolute;
        left: 40px;
        top: 130px;
        font-size: 17px;
    }
}

@media all and (min-width: 561px) and (max-width: 768px){
    .my-skills{
        min-height: 160vh;
    }

    #skills-heading{
        font-size: 3.4rem;
        text-align: center;
        position: absolute;
        top: 40px;
        font-family: 'nunito',sans-serif;
    }

    .development-skills-box .development-skills-content{
        position: absolute;
        width: 500px;
        top: 260px;
        right: 0;
        left: 0;
        margin: auto;
        border:  .3rem solid  #FFCD1E;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 500px;
        height: 480px;
        top: 1000px;
        right: 0;
        left: 0;
        margin: auto;
    }

    .development-text .development-skills-title{
        font-family: Ubuntu;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        padding:0;
        font-weight: 700;
    }

    .development-text{
        width: 250px;
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background: transparent;
        top: 220px;
    }

    .design-skills-title{
        text-align: center;
        top: 960px;
        width: 250px;
        height: 60px;
        position: absolute;
        !*left: 180px;*!
        left: 0;
        right: 0;
        margin: auto;
        background: transparent;
        position: absolute;
        font-weight: 700;
    }

    .skills-paragraph{
        position: absolute;
        left: 40px;
        top: 130px;
    }
}




@media all and (min-width: 769px) and (max-width: 1024px){
    .my-skills{
        min-height: 160vh;
    }

    .development-skills-box .development-skills-content{
        position: absolute;
        width: 640px;
        top: 240px;
        right: 0;
        left: 0;
        margin: auto;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .3rem 20px;
        z-index: 1;
        overflow: hidden;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 640px;
        height: 470px;
        top: 1000px;
        right: 0;
        left: 0;
        margin: auto;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .5rem 20px;
        z-index: 1;
        overflow: hidden;
    }


    .development-skills-title{
        position: absolute;
        top: 200px;
        left: 180px;
        font-weight: 700;
    }

    .design-skills-title{
        position: absolute;
        top: 960px;
        width: 500px;
        background-color: transparent;
        left: 180px;
        font-weight: 700;
    }

    .skills-paragraph{
        position: absolute;
        left: 40px;
        top: 130px;
    }
}



@media all and (min-width: 1025px) and (max-width: 1245px){
    .development-skills-box .development-skills-content{
        position: absolute;
        width: 450px;
        top: 240px;
        left: 40px;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .3rem 20px;
        z-index: 1;
        overflow: hidden;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 450px;
        height: 620px;
        top: 240px;
        right:  40px;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .5rem 20px;
        z-index: 1;
        overflow: hidden;
    }

    .development-skills-title{
        position: absolute;
        top: 200px;
        left: 40px;
        font-weight: 700;
    }

    .design-skills-title{
        position: absolute;
        top: 200px;
        right: 350px;
        font-weight: 700;
    }

    .skills-paragraph{
        position: absolute;
        left: 40px;
        top: 130px;
    }

}

@media all and (min-width: 1246px) and (max-width: 1440px){
    .development-skills-box .development-skills-content{
        position: absolute;
        width: 500px;
        top: 240px;
        left: 80px;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .3rem 20px;
        z-index: 1;
        overflow: hidden;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 500px;
        height: 620px;
        top: 240px;
        right:  80px;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .5rem 20px;
        z-index: 1;
        overflow: hidden;
    }

    .development-skills-title{
        position: absolute;
        top: 200px;
        left: 80px;
        font-weight: 700;
    }

    .design-skills-title{
        position: absolute;
        top: 200px;
        right: 450px;
        font-weight: 700;
    }

    .skills-paragraph{
        position: absolute;
        left: 80px;
        top: 130px;
    }
}

@media all and (min-width: 1441px) and (max-width: 1510px){
    .development-skills-box .development-skills-content{
        position: absolute;
        width: 520px;
        top: 240px;
        left: 100px;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .3rem 20px;
        z-index: 1;
        overflow: hidden;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 520px;
        height: 620px;
        top: 240px;
        right:  100px;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .5rem 20px;
        z-index: 1;
        overflow: hidden;
    }
}

@media all and (min-width: 1511px) and (max-width: 1750px){
    .development-skills-box .development-skills-content{
        position: absolute;
        width: 530px;
        top: 240px;
        left: 100px;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .3rem 20px;
        z-index: 1;
        overflow: hidden;
    }

    .design-skills-box .design-skills-content{
        position: absolute;
        width: 530px;
        height: 620px;
        top: 240px;
        right:  100px;
        border:  .3rem solid  #FFCD1E;
        border-radius: .6rem;
        padding: .5rem 20px;
        z-index: 1;
        overflow: hidden;
    }

    .development-skills-title{
        position: absolute;
        top: 200px;
        left: 100px;
        font-weight: 700;
    }

    .design-skills-title{
        position: absolute;
        top: 200px;
        right: 490px;
        font-weight: 700;
    }

    .skills-paragraph{
        position: absolute;
        left: 100px;
        top: 130px;
    }

}


*/
