@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Josefin Sans", sans-serif;
}

:root{
    --bg-color: #262A56;
    --second-bg-color: #3C4767;
    --text-color: #FFFFFF;
    --sub-text-color: #000000;
    --hero-text-color: #00EEFF;
}

html{
   /* font-size: 62.5%;*/
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: transparent;
    height: 100px;
    display: flex;
    padding: 2rem 9%;
    justify-content: space-between;
    align-items: center;
}


.logo{
    width: 90px; /* Adjust the width and height as needed */
    height: 90px;
    top: 10px;
    left: 10px;
    position: absolute;
    border-radius: 100%; /* Makes it circular */
    overflow: hidden;
    border: 4px solid black;
    cursor: default;
}

.logo img{
    width: 100%; /* Makes sure the image covers the entire circle */
    height: auto;
    display: block;
}

.main-pic{
    width: 450px;
    height: 600px;
    border-radius: 100%;
    overflow: hidden;
    top: 160px;
    right: 400px;
    position: absolute;
    background-color: transparent;

}

.main-pic img{
    width: 100%;
    height: auto;
    display: block;
}

.div{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 30px;
}

.navbar{
    left: 800px;
    position: absolute;
}

.navbar a{
    font-size: 20px ;
    color: var(--text-color);
    font-weight: 700;
    padding: 10px;
    transition: 1s;
}

.navbar a:hover,
.navbar a.active{
    color: #FFCD1E;
}

#menu-icon{
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    left: 400px;
    position: relative;
    display: none;
}

section{
    min-height: 100vh;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.homeContent{
    max-width: 60rem;
}

.homeContent h1{
    font-size: 4.6rem;
    font-weight: 800;
    line-height: 1.3;
    font-family: Belanosima;
}


.homeContent .text-animate{
    position: relative;
    width: 32.8rem;
}

.homeContent .text-animate h3{
    font-size: 3.2rem;
    font-weight: 800;
    width: 1000px;
    top: -50px;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: .7px var(--hero-text-color);
    font-family: Ubuntu;
}

.homeContent p{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Ubuntu;
    top: 600px;
    position: absolute;
}

/*social links*/
.connect-links{
    bottom: 130px;
    position: absolute;
    justify-content: space-between;
}

.connect-links a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 3px solid #FFCD1E;
    border-radius: 100%;
    font-size: 2rem;
    color: #FFCD1E;
    margin: 3rem 1.5rem 3rem 0;
    /*z-index: 1;
    overflow: hidden;*/
    transition: .5s ease;
}

.connect-links a:hover{
    background-color:#FFCD1E;
    color: var(--bg-color);
    box-shadow: 0 0 1rem #FFCD1E;
}

.connect-links a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
}

#about-heading{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 30px;
}

.about-last{
    color: #00EEFF;
}

.about-image{
    position: absolute;
    width: 25rem;
    height: 25rem;
    left: 150px;
    border-radius: 100%;
    display: flex;
    overflow: hidden;
    cursor: default;
}

.about-image img{
    width: 100%;
    height: auto;
    border-radius: 100%;
    border: 5px solid var(--bg-color) ;
}

.about-image .circle-rotate{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%) rotate(0);
    border-bottom: .2rem solid var(--second-bg-color);
    border-top: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--bg-color);
    border-right: .2rem solid var(--bg-color);
}

.main-content{
    text-align: center ;
    font-size: 30px;
    font-family: Ubuntu;
    top: 150px;
    left: 880px;
    position: absolute;
}

.about-content{
    text-align: center ;
    width: 700px;
    height: 300px;
    position: absolute;
    left: 880px;
    top: 250px;
    background-color: transparent;
}

.about-content p{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

#my-details{
    position: absolute;
    left: 880px;
    top: 500px;
    width: 700px;
    height: 250px;
    background-image: linear-gradient(to right, #515578,skyblue,white);
}

#my-details p{
    font-family: "Lato", sans-serif;
    font-weight: 510;
    font-size: 20px;
    padding-left: 20px;
}


.btn-box.buttons{
    background: #FFCD1E;
}

.cv-btn{
    display: inline-block;
    padding: 1rem 2.5rem;
    background: #FFCD1E;
    border-radius: 30px;
    box-shadow: 0 0 1px #FFCD1E;
    font-size: 20px;
    color: #262A56;
    letter-spacing: .1rem;
    top: 800px;
    position: absolute;
    font-weight: bolder;
    font-family: Ubuntu;
    transition: .5s ease;
}

.btn-box.buttons a:hover{
    background-color: var(--bg-color);
    color: #FFCD1E;
}

/*education section design*/
.my-education{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding-bottom: 6rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
}

#my-education-heading{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 40px;
}

#education-last{
    color: #00EEFF;
}

.education-list-01{
    color: #FFCD1E;
    position: absolute;
    top: 180px;
    left: 220px;
    font-size: 20px;
}

.education-list-02{
    color: #FFCD1E;
    position: absolute;
    top: 180px;
    right: 330px;
    font-size: 20px;
}

.education-list-03{
    color: #FFCD1E;
    position: absolute;
    left: 220px;
    top: 560px;
    font-size: 20px;
}

.education-list-04{
    color: #FFCD1E;
    position: absolute;
    right: 330px;
    top: 560px;
    font-size: 20px;
}


.education-list-square-01{
    width: 550px;
    height: 260px;
    position: absolute;
    top: 220px;
    left: 200px;
    background-color: #1E2245;
    border-radius: 50px;
}

.education-list-square-01:hover{
    box-shadow: 0 0 1rem white;
}

.education-list-square-01 p{
    color: white;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    position: absolute;
    top: 160px;
    left: 30px;
    font-size: 20px;
}


.education-list-square-02{
    width: 550px;
    height: 260px;
    position: absolute;
    top: 220px;
    right: 200px;
    background-color: #1E2245;
    border-radius: 50px;
}

.education-list-square-02:hover{
    box-shadow: 0 0 1rem white;
}

.it-center-name{
    position: absolute;
    top: 160px;
    left: 30px;
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: 600;
    color: white;
}

.education-list-square-02 p{
    color: white;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    position: absolute;
    top: 180px;
    left: 30px;
    font-size: 20px;
}

.education-list-square-03{
    width: 550px;
    height: 260px;
    position: absolute;
    top: 600px;
    left: 200px;
    background-color: #1E2245;
    border-radius: 50px;
}

.education-list-square-03 p{
    color: white;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    position: absolute;
    top: 160px;
    left: 30px;
    font-size: 20px;
}

.education-list-square-03:hover{
    box-shadow: 0 0 1rem white;
}

.education-list-square-04{
    width: 550px;
    height: 260px;
    position: absolute;
    top: 600px;
    right: 200px;
    background-color: #1E2245;
    /*
    background-image: linear-gradient(to right,#D9D9D9,white);
    */
    border-radius: 50px;
}

.education-list-square-04:hover{
    box-shadow: 0 0 1rem white;
}

.education-list-square-04 p{
    color: white;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    position: absolute;
    top: 120px;
    left: 30px;
    font-size: 20px;
}

.school-pic{
    width: 120px; /* Adjust the width and height as needed */
    height: 120px;
    top: 30px;
    left: 30px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    cursor: default;
}

.school-pic img{
    width: 100%;
    height: auto;
    display: block;
}

.open-university-pic{
    width: 120px; /* Adjust the width and height as needed */
    height: 120px;
    top: 30px;
    left: 30px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    cursor: default;
}

.open-university-pic img{
    width: 100%; /* Makes sure the image covers the entire circle */
    height: auto;
    display: block;
}

.english-course-pic{
    width: 120px; /* Adjust the width and height as needed */
    height: 120px;
    top: 30px;
    left: 30px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    cursor: default;
}

.english-course-pic img{
    width: 100%; /* Makes sure the image covers the entire circle */
    height: auto;
    display: block;
}

.ijse-pic{
    position: absolute;
    top: 30px;
    left: 30px;
}

.year{
    position: absolute;
    color: white;
    top: 50px;
    left: 200px;
    font-weight: 650;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.year-ijse{
    position: absolute;
    color: white;
    top: 80px;
    left: 30px;
    font-weight: 650;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.year-english{
    position: absolute;
    color: white;
    top: 50px;
    left: 200px;
    font-weight: 650;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}


/*skills style*/
.my-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
}

#skills-heading{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 40px;
}

#my-skill-last{
    color: #00EEFF;
}

.skills-paragraph{
    font-family: Ubuntu;
    font-size: 18px;
    position: absolute;
    left: 180px;
    top: 130px;
}

.design-skills-box{
    row-gap: 2rem;
}

.development-skills-box .development-skills-content{
    position: absolute;
    width: 550px;
    top: 220px;
    left: 180px;
    border:  .2rem solid  #FFCD1E;
    border-radius: .6rem;
    padding: .3rem 20px;
    z-index: 1;
    overflow: hidden;
}

.development-skills-box .development-skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .6s;
}

.development-skills-box .development-skills-content:hover::before{
    width: 100%;
}

.design-skills-box .design-skills-content{
    position: absolute;
    width: 550px;
    height: 620px;
    top: 220px;
    right:  180px;
    border:  .2rem solid  #FFCD1E;
    border-radius: .6rem;
    padding: .5rem 20px;
    z-index: 1;
    overflow: hidden;
}

.design-skills-box .design-skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .6s;
}

.design-skills-box .design-skills-content:hover::before{
    width: 100%;
}

.development-skills-title{
    font-size: 20px;
    color: #FFCD1E;
    position: absolute;
    top: 190px;
    left: 180px;
}

.design-skills-title{
    font-size: 20px;
    color: #FFCD1E;
    margin-bottom: 2rem;
    position: absolute;
    top: 190px;
    right: 610px;
}

.skills-data{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 45px;
}

.skill-name{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
}

.skill-percentage{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
}

.skills-bar{
    position: absolute;
    bottom: -.75rem;
    height: 10px;
    border-radius: 6px;
    background-color: #FFCD1E;
}

.skill-java{
    width: 82%;
}

.skill-mysql{
    width: 92%;
}

.skill-html{
    width: 85%;
}

.skill-hql{
    width: 62%;
}

.skill-css{
    width: 75%;
}

.skill-webDesign{
    width: 90%;
}

.skill-photoshop{
    width: 70%;
}

.skill-figma{
    width: 80%;
}

.skill-draw-io{
    width: 95%;
}


/*my projects style*/
.my-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding-bottom: 6rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
}

#my-project-heading{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 25px;
}

#project-last{
    color: #00EEFF;
}

.my-project-container{
    column-gap: 100px;
    justify-content: space-between;
}

/*my-project square style*/
.project-square-01{
    width: 460px;
    height: 340px;
    position: absolute;
    background-color: #1E2245;
    top: 130px;
    left: 120px;
}

.project-square-02{
    width: 460px;
    height: 340px;
    position: absolute;
    background-color: #1E2245;
    top: 130px;
    left: 700px;
}

.project-square-03{
    width: 460px;
    height: 340px;
    position: absolute;
    background-color: #1E2245;
    top: 130px;
    right: 120px;
}

.project-square-04{
    width: 460px;
    height: 340px;
    position: absolute;
    background-color: #1E2245;
    bottom: 30px;
    left: 120px;
}

.project-square-05{
    width: 460px;
    height: 340px;
    position: absolute;
    background-color: #1E2245;
    bottom: 30px;
    left: 700px;
}

.project-square-06{
    width: 460px;
    height: 340px;
    position: absolute;
    background-color: #1E2245;
    bottom: 30px;
    right: 120px;
}

/*project section image style*/
.mvc-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.layered-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.chat-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.chat-project-image img{
    height: auto;
    width: 100%;
    display: block;
}

.pos-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.pos-project-image img{
    height: auto;
    width: 100%;
    display: block;
}
.extra-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.extra-project-image img{
    height: auto;
    width: 100%;
    display: block;
}

.portfolio-project-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 430px;
    height: 270px;
}

.portfolio-project-image img{
    height: auto;
    width: 100%;
    display: block;
}

.project-data{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(228, 241, 254,.4);
    border-radius: .5rem;
    transition: .5s;
}

.project-link{
    font-size: 20px;
    color: darkred;
    background-color: transparent;
    border-radius: .25rem;
    padding: .25rem;
    font-family: Ubuntu;
    font-weight: bold;
}

/*project title design*/
.mvc-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.layered-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.chat-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.portfolio-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.pos-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.extra-project-title{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
}

.mvc-project-image:hover .project-data{
    bottom: 0;
}

.layered-project-image:hover .project-data{
    bottom: 0;
}


.chat-project-image:hover .project-data{
    bottom: 0;
}

.portfolio-project-image:hover .project-data{
    bottom: 0;
}

.pos-project-image:hover .project-data{
    bottom: 0;
}

.extra-project-image:hover .project-data{
    bottom: 0;
}

/*my assignment section style*/
.my-assignment{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    height: 150vh;
}

#assignment-heading{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 40px;
}

#assignment-last{
    color: #00EEFF;
}

.assignment-title-01{
    position: absolute;
    color: #FFCD1E;
    font-size: 20px;
    top: 140px;
    left: 120px;
    font-weight: bold;
}

.assignment-title-02{
    position: absolute;
    color: #FFCD1E;
    font-size: 20px;
    top: 440px;
    left: 120px;
    font-weight: bold;
}

.assignment-title-03{
    position: absolute;
    color: #FFCD1E;
    font-size: 20px;
    top: 740px;
    left: 120px;
    font-weight: bold;
}

.assignment-title-04{
    position: absolute;
    color: #FFCD1E;
    font-size: 20px;
    top: 1040px;
    left: 120px;
    font-weight: bold;
}

.my-assignment-container-prf{
    display: grid;
    grid-template-columns: repeat(4,1fr );
    background: transparent;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    column-gap: 100px;
    justify-content: space-between;
}

.my-assignment-container-prf .assignment-square-01{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    position: absolute;
    left: 75px;
}

.my-assignment-container-prf .assignment-square-02{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    left: 425px;
    position: absolute;
}

.my-assignment-container-prf .assignment-square-03{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    left: 780px;
    position: absolute;
}

.my-assignment-container-prf .assignment-square-04{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    left: 1130px;
    position: absolute;
}

.assignment-image{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 250px;
    height: 140px;
}

.assignment-image img{
    width: 100%;
}


.assignment-data{
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(228, 241, 254,.4);
    border-radius: .5rem;
    transition: .5s;
}

.assignment-image:hover .assignment-data{
    top: 0;
}

.my-assignment-container-oop{
    display: grid;
    grid-template-columns: repeat(4,1fr );
    background: transparent;
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    margin: auto;
    column-gap: 100px;
    justify-content: space-between;
}

.my-assignment-container-oop .assignment-square-05{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    position: absolute;
    left: 75px;
}

.my-assignment-container-oop .assignment-square-06{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    left: 425px;
    position: absolute;
}

.my-assignment-container-oop .assignment-square-07{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    left: 780px;
    position: absolute;
}

.assignment-image-02{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: .5rem;
    width: 250px;
    height: 140px;
}

.assignment-image-02 img{
    width: 100%;
}

.assignment-image-02:hover .assignment-data{
    top: 0;
}
.my-assignment-container-network{
    display: grid;
    grid-template-columns: repeat(4,1fr );
    background: transparent;
    position: absolute;
    top: 750px;
    left: 0;
    right: 0;
    margin: auto;
    column-gap: 100px;
    justify-content: space-between;
}

.my-assignment-container-network .assignment-square-08{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    position: absolute;
    left: 75px;
}

.my-assignment-container-it{
    display: grid;
    grid-template-columns: repeat(5,1fr );
    background: transparent;
    position: absolute;
    top: 1050px;
    left: 0;
    right: 0;
    margin: auto;
    column-gap: 100px;
    justify-content: space-between;
}

.my-assignment-container-it .assignment-square-09{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    position: absolute;
    left: 75px;
}

.my-assignment-container-it .assignment-square-10{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    left: 425px;
    position: absolute;
}

.my-assignment-container-it .assignment-square-11{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    left: 780px;
    position: absolute;
}

.my-assignment-container-it .assignment-square-12{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    left: 1130px;
    position: absolute;
}

.my-assignment-container-it .assignment-square-13{
    width: 280px;
    height: 200px;
    background-color: #1E2245;
    margin: 25px;
    right: 75px;
    position: absolute;
}

/*my services section style*/
.my-services{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding-bottom: 6rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    height: 150vh;
}

#my-services-heading{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 40px;
}

#service-last{
    color: #00EEFF;
}
.service-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box-01{
    flex: 1 1 30rem;
    background: #1E2245;
    border-radius: 15px;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    position: absolute;
    top: 200px;
    left: 150px;
    width: 450px;
    height: 350px;
}

.service-container .service-box-02{
    flex: 1 1 30rem;
    background: #1E2245;
    border-radius: 15px;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    position: absolute;
    top: 200px;
    left: 730px;
    width: 450px;
    height: 350px;
}

.service-container .service-box-03{
    flex: 1 1 30rem;
    background: #1E2245;
    border-radius: 15px;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    position: absolute;
    top: 200px;
    right: 150px;
    width: 450px;
    height: 350px;
}

.service-container .service-box-01:hover{
    border-color: #FFCD1E;
    transform: scale(1.02);
}

.service-container .service-box-02:hover{
    border-color: #FFCD1E;
    transform: scale(1.02);
}

.service-container .service-box-03:hover{
    border-color: #FFCD1E;
    transform: scale(1.02);
}

.service-box-01 i{
    position: absolute;
    font-size: 35px;
    color: #FFCD1E;
    left: 120px;
    top: 40px;
}

.service-box-02 i{
    position: absolute;
    font-size: 35px;
    color: #FFCD1E;
    left: 80px;
    top: 40px;
}

.service-box-03 i{
    position: absolute;
    font-size: 35px;
    color: #FFCD1E;
    left: 80px;
    top: 40px;
}

.service-box-01 h3{
    font-size: 22px;
    font-family: Ubuntu;
    font-weight: 600;
    margin: auto;
    position: absolute;
    top: 45px;
    left: 180px;
    color: #FFCD1E;
}

.service-box-02 h3{
    font-size: 22px;
    font-family: Ubuntu;
    font-weight: 600;
    margin: auto;
    position: absolute;
    top: 45px;
    left: 180px;
    color: #FFCD1E;
}

.service-box-03 h3{
    font-size: 22px;
    font-family: Ubuntu;
    font-weight: 600;
    margin: auto;
    position: absolute;
    top: 45px;
    left: 180px;
    color: #FFCD1E;
}

.service-box-01 p{
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: 400;
    left: 0;
    right: 0;
    margin: auto;
    padding: 25px;
    position: absolute;
    top: 100px;
}

.service-box-02 p{
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: 400;
    left: 0;
    right: 0;
    margin: auto;
    padding: 25px;
    position: absolute;
    top: 100px;
}

.service-box-03 p{
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: 400;
    left: 0;
    right: 0;
    margin: auto;
    padding: 25px;
    position: absolute;
    top: 100px;
}